<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register1</servlet-name>
        <servlet-class>Register1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VarifyUser</servlet-name>
        <servlet-class>VarifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Welcome.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateTax</servlet-name>
        <servlet-class>CalculateTax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register1</servlet-name>
        <url-pattern>/Register1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VarifyUser</servlet-name>
        <url-pattern>/VarifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateTax</servlet-name>
        <url-pattern>/CalculateTax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
